@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Colors */
  --color-brand-primary: #3672c5;
  --color-brand-secondary: #2d62ac;
  --color-brand-disabled: #486286;
  --color-brand-accent: #5780b9;
  --color-brand-text: #2d6eca;

  /* Colors */
  --color-primary: #fafafa;
  --color-secondary: #ffffff;
  --color-accent: #ebe8e8;
  --color-red-primary: #f73939;
  --color-red-secondary: #f55b5b;
  --color-red-highlight: #ae0808f6;
  --color-red-accent: #e4212123;
  --color-red-text: #e86161;
  --color-orange-primary: #fcc56d54;
  --color-orange-secondary: #fcbf5c;


  --color-green-primary: #2fd42f;
  --color-green-secondary: #3cc13c;
  --color-green-accent: #2eb82e16;
  --color-green-text: #2eb82e;

  --color-blue-primary: #87cdff7e;
  --color-blue-text: #2d6eca;

  --color-hover-primary: #ebeaea;
  --color-border-primary: #dadbdc;
  --color-input-primary: #f3f3f3;

  /* Ring colors */
  --ring-primary: #2d6eca;
  --ring-secondary: #2d62ac;
  --ring-accent: #5780b9;

  /* skeletons */
  --color-skeleton: #eaeaea;

  /* chart contrast */
  --color-chart-contrast: #bdbdbd;

  /* Fonts */
  --font-primary: 'Inter', sans-serif;

  /* Text colors */
  --color-text-primary: #000;
  --color-text-secondary: #6e6e6e;
  --color-text-accent: #686767;

  /* Icon fill colors */
  --color-icon-primary: #4f4f4f;

  /* Button colors */
  --color-button-primary: #ffffff;
  --color-button-secondary: #bebaba;

  /*  nextui bindings */
  --tw-backdrop-saturate: 1.5;
  --nextui-danger: 0 80.36% 80%;

  --color-logo: #000000;
  --xlx-glass-primary: #e4e2e202;
}

.dark-theme-class {
  background-color: #111113;
}

.light-theme-class {
  background-color: #fafafa;
}

[data-theme='dark'] {
  /* Colors */
  --color-primary: #000000;
  --color-secondary: #0a0a0a;
  --color-accent: #292929;
  --color-hover-primary: #1f1f1f;
  --color-border-primary: #171717;
  --color-input-primary: #0a0a0a;
  --color-orange-primary: #e9971460;
  --color-orange-secondary: #e99714;
  
  /* Brand Colors */
  --color-brand-accent: #523270;

  /* chart contrast */
  --color-chart-contrast: #4c4c4c;

  --color-blue-primary: #1581cf7a;
  --color-blue-text: #8ac2eabd;

  /* Text colors */
  --color-text-primary: #fff;
  --color-text-secondary: #72726d;
  --color-text-accent: #8c8c8c;

  /* Icon fill colors */
  --color-icon-primary: #cac8c8;

  /* color skeletons */
  --color-skeleton: #2a2a2b;

  /* Button colors */
  --color-button-primary: #14171a;

  --color-logo: #ffffff;

  /* nextui binding */
  --nextui-danger: 0 60.36% 60%;

  --xlx-glass-primary: #05050538;
}

/* this is a mobile only border for when overlays or cards are the same color as bg */
.border-mobile {
  border: 0px solid var(--color-border-primary);
}

@media (max-width: 970px) {
  .border-mobile {
    border: 1px solid var(--color-border-primary);
  }
}

@media (min-width: 1025px) {
  .border-mobile {
    border: 1px solid var(--color-border-primary);
  }
}

.text-inherit {
  color: var(--color-brand-primary) !important;
}

/* scroll inside the component */
.scrollable-x {
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%; /* Ensure it takes full width of the parent container */
}

[type='text']:focus,
select:focus {
  border: 1px solid var(--color-border-primary);
  outline-offset: var(--color-brand-primary) !important;
  border-radius: 6px;
  outline: none !important;
  outline: 4px solid var(--color-brand-primary);
  outline-offset: 3px;
}

[type='text'] {
  border: 0px solid var(--color-border-primary);
  border-radius: 6px;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #1c63f200;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: #3672c5;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.PageWrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

body {
  color: var(--color-primary);
  background-color: var(--color-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Slide in Animation */
.SlideInAnimation {
  animation: slide-in 1s forwards;
}

.SlideInAnimationSlow {
  animation: slide-in 1.5s forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-200%);
    opacity: 0;
  }
}

@keyframes slide-out-element {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -200px;
    opacity: 0;
  }
}

@keyframes slide-in-horizontal-element {
  from {
    margin-bottom: -200px;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}

.slide-in-horizontal-element {
  animation: slide-in-horizontal-element 0.4s ease-in-out forwards;
}

@keyframes slide-down-element {
  from {
    margin-bottom: -200px;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}

@keyframes slide-up-element {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -200px;
    opacity: 0;
  }
}

.slide-down-element {
  animation: slide-down-element 0.4s ease-in-out forwards;
}

.slide-up-element {
  animation: slide-up-element 0.4s ease-in-out forwards;
}

.slide-out-element {
  animation: slide-out-element 0.4s ease-in-out forwards;
}

.notification-popup {
  animation: slide-in 1s ease-in-out forwards;
}

.notification-popup-out {
  animation: slide-out 0.5s ease-in-out forwards;
}

input[type='email'],
input[type='password'] {
  background-color: var(--color-input-primary);
  border: 1px solid var(--color-border-primary);
  color: var(--color-text-primary);
}

input[type='email']:focus,
input[type='password']:focus {
  box-shadow: 0 0 0 2px var(--color-brand-primary); /* Blue color with 50% opacity */
}

/* Spinner */
.animate-spinner-linear-spin {
  animation: spinner-spin 0.8s linear infinite;
}

.animate-spinner-ease-spin {
  animation: spinner-spin 0.8s ease infinite;
}

.border-t-transparent {
  border-top-color: transparent;
}

.border-l-transparent {
  border-left-color: transparent;
}

.border-r-transparent {
  border-right-color: transparent;
}

.border-b-danger {
  border-bottom-color: hsl(
    var(--color-brand-primary) / var(--nextui-danger-opacity, 1)
  );
}

.border-dotted {
  border-style: dotted;
}
.border-3 {
  border-width: 3px;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.border-b-secondary {
  --tw-border-opacity: 1;
  border-bottom-color: hsl(
    var(--color-brand-primary) /
      var(--nextui-secondary-opacity, var(--tw-border-opacity))
  );
}

.rounded-small {
  border-radius: 6px;
}

.rounded-medium {
  border-radius: 6px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-small {
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 0.02),
    0px 2px 10px 0px rgb(0 0 0 / 0.06), 0px 0px 1px 0px rgb(0 0 0 / 0.3);
}

/* this is for the tabs of nextui the main body color */
.bg-default-100 {
  background-color: var(--color-secondary);
}

.bg-default-200 {
  background-color: var(--color-secondary);
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.border-default-200 {
  --tw-border-opacity: 1;
  border-color: hsl(
    var(--nextui-default-200) /
      var(--nextui-default-200-opacity, var(--tw-border-opacity))
  );
}

.text-default-500 {
  color: var(--color-text-secondary);
}

.text-default-foreground {
  color: var(--color-text-secondary);
}

/* this controls the inner moving tab color */
.bg-background {
  --tw-bg-opacity: 1;
  background-color: var(--color-secondary);
}

/* modal base stylings from nextui */

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
}

.backdrop-filter,
.backdrop-saturate-150 {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.bg-overlay\/30 {
  background-color: hsl(0 0% 0% / 0.3);
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.inset-0 {
  inset: 0;
}

.tap-highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 640px) {
  .sm\:\[--scale-exit\:103\%\] {
    --scale-exit: 103%;
  }
}
.\[--scale-exit\:100\%\] {
  --scale-exit: 100%;
}

@media (min-width: 640px) {
  .sm\:\[--slide-exit\:0px\] {
    --slide-exit: 0px;
  }
}
.\[--slide-exit\:80px\] {
  --slide-exit: 80px;
}

element.style {
  opacity: 1;
  transform: translateY(var(--slide-enter)) scale(var(--scale-enter))
    translateZ(0);
}

@media (min-width: 640px) {
  .sm\:\[--slide-enter\:0px\] {
    --slide-enter: 0px;
  }
}

@media (min-width: 640px) {
  .sm\:\[--slide-exit\:0px\] {
    --slide-exit: 0px;
  }
}

@media (min-width: 640px) {
  .sm\:\[--slide-enter\:0px\] {
    --slide-enter: 0px;
  }
}

@media (min-width: 640px) {
  .sm\:\[--scale-exit\:103\%\] {
    --scale-exit: 103%;
  }
}

@media (min-width: 640px) {
  .sm\:\[--scale-enter\:100\%\] {
    --scale-enter: 100%;
  }
}

@media (min-width: 640px) {
  .sm\:items-center {
    align-items: center;
  }
}

.\[--slide-enter\:0px\] {
  --slide-enter: 0px;
}

.\[--slide-exit\:80px\] {
  --slide-exit: 80px;
}

.\[--slide-enter\:0px\] {
  --slide-enter: 0px;
}

.\[--scale-exit\:100\%\] {
  --scale-exit: 100%;
}

.\[--scale-enter\:100\%\] {
  --scale-enter: 100%;
}

.overflow-x-auto {
  overflow-x: auto;
}

.justify-center {
  justify-content: center;
}

.items-end {
  align-items: flex-end;
}

.box-border {
  box-sizing: border-box;
}

.rounded-large {
  border-radius: 14px;
}

.flex-initial {
  flex: 0 1 auto;
}

.text-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.h-\[100dvh\] {
  height: 100dvh;
}
.z-50 {
  z-index: 50;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.transition-property {
  transition-property: transform, color, background, background-color,
    border-color, text-decoration-color, fill, stroke, opacity;
  transition-timing-function: ease;
  transition-duration: 0.25s;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

div {
  display: block;
  unicode-bidi: isolate;
}

body {
  margin: 0;
  line-height: inherit;
}

section {
  display: block;
  unicode-bidi: isolate;
}

element.style {
  opacity: 1;
  transform: translateY(0px) scale(1) translateZ(0px);
}

/* spinner nextui */
.border-b-warning {
  --tw-border-opacity: 1;
  border-bottom-color: #3672c5;
}

.text-foreground {
  color: var(--color-text-primary);
}

/* switch nextui */
.touch-none {
  touch-action: none;
}
.transition-background {
  transition-property: background;
  transition-timing-function: ease;
  transition-duration: 0.25s;
}
.origin-right {
  transform-origin: right;
}
.origin-left {
  transform-origin: left;
}

.group[data-selected='true'] .group-data-\[selected\=true\]\:bg-secondary {
  --tw-bg-opacity: 1;
  background-color: hsl(270 66.67% 47.06% / var(--nextui-secondary-opacity, 1));
}

.group[data-selected='true']
  .group-data-\[selected\=true\]\:text-secondary-foreground {
  --tw-text-opacity: 1;
  color: hsl(0 0% 100% / var(--nextui-secondary-foreground-opacity, 1));
}

.bg-default-200 {
  --tw-bg-opacity: 1;
  background-color: hsl(240 5.88% 90% / var(--nextui-default-200-opacity, 1));
}

.border-default-200 {
  --tw-border-opacity: 1;
  border-color: hsl(240 5.88% 90% / var(--nextui-default-200-opacity, 1));
}

.bg-background {
  --tw-bg-opacity: 1;
  background-color: var(--color-primary);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* tabs animation nextui */
.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.h-8 {
  height: 2rem;
}

[role='button'],
button {
  cursor: pointer;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
select {
  text-transform: none;
}

.transition-colors {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

/* custom breakpoint tw */
@media (min-width: 1400px) {
  .xxl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 810px) {
  .mmd-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.border-default {
  border: 1px solid var(--color-border-primary) !important;
}

.border-default-200 {
  border: 1px solid var(--color-border-primary) !important;
}

/* .rounded-full {
  border-radius: 6px;
} */

/*  the underlay bg of the selected range in the nextui daterange */

.data-\[selected\=true\]\:data-\[range-selection\=true\]\:before\:bg-primary-50[data-range-selection='true'][data-selected='true']::before {
  content: var(--tw-content) !important;
  --tw-bg-opacity: 1 !important;
  background-color: var(--color-brand-secondary) !important;
  opacity: 0.2 !important;
}

button,
[role='button'] {
  cursor: pointer;
}

/* hover */
/* button:hover, [role="button"]:hover {
  cursor: pointer;
  background-color: var(--color-accent);
} */

.rounded-large {
  border-radius: 6px !important;
}

.rounded-small {
  border-radius: 6px !important;
}

.glassmorphism {
  background-color: #e4e2e202 !important;
  backdrop-filter: blur(6.5px) saturate(0.7) !important;
  -webkit-backdrop-filter: blur(6.5px) !important;
}

.min-w-20 {
  min-width: 30px !important;
}

/* make the modal wider on mobile */
.max-w-md {
  max-width: 30rem !important;
}

/* make the progress bar warning to brand primary */
.bg-warning {
  --tw-bg-opacity: 1;
  background-color: var(--color-brand-primary) !important;
}
/* make the progress bar warning to brand primary */
.text-warning {
  --tw-bg-opacity: 1;
  color: var(--color-brand-primary) !important;
}
/* command search palette styling */

/* custom breakpoint tw */
@media (min-width: 1400px) {
  .xxl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 810px) {
  .mmd-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* this is in charge of the command palette  */
.command-palette .bg-white {
  --tw-bg-opacity: 1;
  background-color: var(--color-secondary) !important;
}

.command-palette .text-gray-400 {
  --tw-text-opacity: 1;
  color: var(--color-text-secondary) !important;
}

.command-palette .text-gray-600 {
  --tw-text-opacity: 1;
  color: var(--color-text-secondary) !important;
}

/* controls the header text in the palette */
.text-gray-500 {
  --tw-text-opacity: 1;
  font-size: 15px !important;
  color: var(--color-text-primary) !important;
}

.placeholder-gray-500 {
  --tw-placeholder-opacity: 1;
  color: var(--color-text-secondary) !important;
}

/* this controls the hover list item in the palette */
.command-palette .hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: var(--color-accent) !important;
  transition: ease-in-out 0.1s;
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: var(--color-accent) !important;
}

.command-palette *,
.command-palette :after,
.command-palette :before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: var(--color-border-primary) !important;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: var(--color-border-primary) !important;
  --tw-ring-color: var(--color-brand-primary) !important;
  --tw-ring-offset-shadow: 0 0 var(--color-border-primary) !important;
  --tw-ring-shadow: 0 0 var(--color-border-primary) !important;
  --tw-shadow: 0 0 var(--color-border-primary) !important;
  --tw-shadow-colored: 0 0 var(--color-border-primary) !important;
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

/* this controls the currrently active selected item not the hover */
.command-palette .bg-gray-200\/50 {
  background-color: var(--color-input-primary) !important;
}

span {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-primary);
}

/* this blurs the command palette */

.command-palette .bg-gray-900 {
  --tw-bg-opacity: 0.7;
  background-color: var(--color-backdrop) !important;
  backdrop-filter: blur(12px) saturate(1.5) !important;
}

.command-palette .bg-opacity-80 {
  --tw-backdrop-saturate: saturate(1.5);
  --tw-backdrop-blur: blur(12px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia) !important;
}

/* the shadow-lg is added for an injected border to the command palette */
.shadow-lg {
  border: 1px solid var(--color-border-primary) !important;
}

/* forcing spinner nextui smaller */

.w-8 {
  width: 1.5rem !important;
}

.h-8 {
  height: 1.5rem !important;
}

/* custom shorten the classes */
.icon {
  width: 24px;
  height: 24px;
  color: var(--color-text-accent);
}

@media (min-width: 420px) {
  .xxs\:text-\[14px\] {
    font-size: 14px;
  }
}

@media (min-width: 420px) {
  .xxs\:w-\[24px\] {
    width: 24px;
  }
}

@media (min-width: 420px) {
  .xxs\:h-\[24px\] {
    height: 24px;
  }
}

@media (min-width: 420px) {
  .xxs\:w-96 {
    width: 24rem /* 384px */;
  }
}

@media (min-width: 849px) {
  .xlx-md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* disable bg transition on table hover */
.transition-transform-colors-opacity:hover {
  transition-property: transform, color, background, background-color,
    border-color, text-decoration-color, fill, stroke, opacity;
  transition-timing-function: ease;
  transition-duration: 250ms;
}
.transition-transform-colors-opacity {
  transition-property: transform !important;
  transition-timing-function: ease;
  transition-duration: 250ms;
}

.data-\[sortable\=true\]\:transition-colors[data-sortable='true'] {
  transition-property: transform !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.before\:transition-colors::before {
  content: var(--tw-content);
  transition-property: transform !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* fixed the border of the table search field  */
[type='text']:focus,
select:focus {
  /* border: 1px solid var(--color-border-primary); */
  outline-offset: var(--color-brand-primary) !important;
  border-radius: 6px;
  outline: none !important;
  outline: 4px solid var(--color-brand-primary);
  outline-offset: 3px;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #1c63f200;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: transparent !important;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #1c63f200;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: transparent !important;
}

.bg-default\/40 {
  background-color: var(--color-brand-primary);
  transition: ease-in-out 0.3s;
}

.data-\[selectable\=true\]\:focus\:bg-default:focus[data-selectable='true'] {
  --tw-bg-opacity: 1;
  background-color: var(--color-accent) !important;
}

/* this is for the for the autocomplete nextui */
.bg-success-50 {
  --tw-bg-opacity: 1;
  background-color: var(--color-input-primary) !important;
}

.text-success-600 {
  --tw-text-opacity: 1;
  color: var(--color-text-primary) !important;
}

.text-success {
  --tw-text-opacity: 1;
  color: var(--color-text-primary) !important;
}

.data-\[hover\=true\]\:bg-success\/100[data-hover='true'] {
  --tw-bg-opacity: 1;
  background-color: var(--color-accent) !important;
}

.data-\[hover\=true\]\:bg-success\/20[data-hover='true'] {
  --tw-bg-opacity: 1;
  background-color: var(--color-accent) !important;
}

/* the little cursor under the tabs */
.bg-foreground {
  --tw-bg-opacity: 1;
  background-color: var(--color-brand-primary) !important;
}

.text-primary-foreground {
  --tw-text-opacity: 1;
  color: var(--color-brand-primary) !important;
}

.bg-danger {
  --tw-bg-opacity: 1;
  background-color: var(--color-red-primary) !important;
}

.data-[hover='true']:bg-danger {
  --tw-bg-opacity: 1;
  background-color: var(--color-red-primary) !important;
}

.focus\:xlx-ring-primary:focus {
  --tw-ring-color: var(--color-ring-primary);
}

.xlx-border-primary {
  border-color: var(--color-brand-primary) !important;
}

/* outline of the drawer*/
.focus\:outline-none:focus {
  outline: 2px solid transparent !important;
  outline-offset: 0px !important;
}

/* scrollbar */
/* Works on Firefox */
* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--color-accent) !important;
  scrollbar-gutter: 4px !important;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px !important;
}

*::-webkit-scrollbar-track {
  background: var(--color-accent) !important;
  border-radius: 8px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border-radius: 8px !important;
  border: 0px solid orange !important;
  display: none !important;
}